@font-face {
	font-family: SimpleFont;
	src: url('../assets/fonts/Fredoka-Regular.ttf');
}
.authorizedBase {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #3d348b;
	overflow: auto;
}
#mainNav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: #3d348b;
	z-index: 99;
}
#mainNav #left {
	text-transform: none;
	color: white;
	font-family: SimpleFont;
}

#mainNav #right {
	align-self: center;
}
#mainNav #right .MuiIconButton-root {
	width: 28px;
	height: 28px;
	padding: 0;
	margin-right: 15px;
}

#mainNav #right .MuiAvatar-root {
	width: 100%;
	height: 100%;
}
