@font-face {
	font-family: SimpleFont;
	src: url('../assets/fonts/Fredoka-Regular.ttf');
}
.unauthorizedBase {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: black;
}

.unauthorizedBase footer{
	margin: 1rem;
align-self: center;	
text-align: center;
font-size: .7rem;
color: whitesmoke;

}

.unauthorizedBase footer .MuiButtonGroup-text .MuiButtonGroup-groupedText{
	color: whitesmoke;
	border-color: whitesmoke;
	font-size: .7rem;
}
