.createPostModal {
	display: flex;
	justify-content: center;
	align-items: center;
}

#choosePhotoCard {
	width: 30vw;
	height: 30vw;
	min-width: 300px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#choosePhotoCard .MuiCardHeader-root {
	border-bottom: solid 2px black;
	text-align: center;
}
#choosePhotoCard .MuiCardHeader-root .MuiCardHeader-title {
	font-size: 2em;
}

#choosePhotoCard .MuiCardMedia-root {
	align-self: center;
}
#choosePhotoCard .MuiCardMedia-root .MuiSvgIcon-root {
	font-size: 6em;
}

#choosePhotoCard .MuiCardContent-root {
	text-align: center;
}

#choosePhotoCard .MuiCardContent-root div label:last-child {
	font-size: 1em;
}

#choosePhotoCard .MuiCardContent-root div:last-child {
	text-align: center;
}

#dragDropButton {
	display: none;
}

#cropPhotoCard[croppedImg='false'] {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	min-height: 300px;
}

#cropPhotoCard[croppedimg='false'] .MuiCardMedia-root {
	position: relative;
	width: 30vw;
	height: 30vw;
}

#cropPhotoCard[croppedimg='true'] {
	position: relative;
	display: flex;
	flex-direction: column;
}
#cropPhotoCard[croppedimg='true'] .MuiCardMedia-root {
	display: flex;
}
#cropPhotoCard[croppedimg='true'] .MuiCardMedia-root #croppedImg {
	width: 30vw;
}
#cropPhotoCard[croppedimg='false'] .MuiCardMedia-root .MuiCardContent-root {
	width: 0;
}
#cropPhotoCard[croppedimg='true'] .MuiCardMedia-root .MuiCardContent-root {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 15vw;
	transition: 3s all;
}

#cropPhotoCard[croppedimg='true']
	.MuiCardMedia-root
	.MuiCardContent-root
	textarea {
	height: 50%;
	resize: none;
}

#cropPhotoCard[croppedimg='true']
	.MuiCardMedia-root
	.MuiCardContent-root
	section {
	display: flex;
}
