#postModal {
	display: flex;
	height: 50%;
	margin: auto 0;
	justify-content: center;
}

#postModal .MuiCard-root {
	display: flex;
	max-width: 900px;
	width: 100%;
}

#postModal .MuiCard-root img {
	flex: 1;
	object-fit: cover;
}
#postModal .MuiCard-root .MuiCardContent-root {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#postModal .MuiCard-root .MuiCardContent-root div:first-child {
	display: flex;
}
#postModal .MuiCard-root .MuiCardContent-root form {
}

#postModal .MuiCard-root .MuiCardContent-root .MuiList-root {
	display: flex;
	flex-direction: column;
	overflow: auto;
}
