#homePage {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#homePage .MuiCard-root {
	min-width: 400px;
	width: 30vw;
	margin-bottom: 1rem;
}

#homePage .MuiCard-root .MuiCardContent-root .MuiIconButton-root {
	padding: 0;
}

#homePage .MuiCard-root .MuiCardContent-root .postComment {
	display: flex;
	align-items: center;
}

#homePage .MuiCard-root .MuiCardContent-root .postComment .MuiIconButton-root {
	padding: 0;
}

#homePage .MuiCard-root .MuiCardContent-root .postComment span:nth-child(2) {
	flex: 1;
}

#homePage .MuiCard-root .MuiCardContent-root #postCaption span,
#homePage .MuiCard-root .MuiCardContent-root .postComment span:first-child {
	font-weight: bold;
	margin-right: 0.3rem;
}

#homePage .MuiCard-root .MuiCardActions-root form {
	width: 100%;
}

#homePage #postImage {
	width: 100%;
}

.comment {
	clear: right;
	word-wrap: break-word;
}

.comment .MuiIconButton-root {
	float: right;
}

#homePage footer{
	position: absolute;
	right: 2rem;
	bottom: 0;	
}

#homePage footer .MuiButtonGroup-root{
	display: flex;
	flex-direction: column;
}

#homePage footer .MuiButtonGroup-text .MuiButtonGroup-groupedText{
	border:none;
}
