/* No messages */
.inboxCard.noMessage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 70vw;
	min-width: 300px;
	height: 80vh;
	margin: auto;
}

.inboxCard.noMessage div:first-child {
	border: solid black 5px;
	border-radius: 50%;
}
.inboxCard.noMessage div:nth-child(2) {
	text-align: center;
}
.inboxCard.noMessage .MuiSvgIcon-root {
	transform: rotateZ(-45deg);
	position: relative;
	font-size: 7rem;
	left: 0.05em;
	bottom: 0.05em;
}

/*Autocomplete Modal  */
#inboxModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#inboxModal .MuiCard-root {
	min-width: 300px;
	width: 30vw;
	margin: auto;
}

/* Yes messages */

.inboxCard.yesMessage {
	display: flex;
	width: 70vw;
	min-width: 300px;
	margin: auto;
	height: 80%;
	background-color: whitesmoke;
	
}

.inboxCard.yesMessage section[id='left'] {
	flex:2;
}
.inboxCard.yesMessage section[id='left'] .MuiTab-textColorPrimary{
	color: black
}

.inboxCard.yesMessage section[id='left'] .Mui-selected{
	color: rgb(255, 106, 0)
}

.inboxCard.yesMessage section .MuiAvatarGroup-avatar{
	border: none;
}

.inboxCard.yesMessage section[id='left'] .MuiCardHeader-root{
	text-align: center;	
	border: black 1px solid;
	border-right: none;
	color: black
}
.inboxCard.yesMessage section[id='right'] .MuiCardHeader-root{
	text-align: left;	
	border: black 1px solid;
	border-left: none;
	color: black
}
.inboxCard.yesMessage section .MuiCardHeader-action .MuiIconButton-root svg{
	color: black
}

.inboxCard.yesMessage section .MuiCardHeader-root .MuiAvatarGroup-avatar{
	width: 24px;
	height: 24px;
}

.inboxCard.yesMessage section[id='right'] {
	flex: 4;
	border-left: solid 1px black
}

.inboxCard.yesMessage section[id='right'] .tabPanel.hidden {
	display: none;
}

.inboxCard.yesMessage section[id='right'] .tabPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.inboxCard.yesMessage section[id='right'] .tabPanel main{
	overflow: auto;
	height: 100%;
	padding: 1rem;
	height: 100%;
}

.inboxCard.yesMessage section[id='right'] .tabPanel main .MuiPaper-root{
	border-radius: 1rem;
	padding:1rem;
	max-width: 50%;
	margin-top: .5rem;

}

.inboxCard.yesMessage section[id='right'] .tabPanel main #outgoingMessage{
	background-color:#52b788;
	float: right;
	clear: both;
}

.inboxCard.yesMessage section[id='right'] .tabPanel main #incomingMessage{
	background-color:#9d9d9d;	
	float: left;
	clear: both;
}

.inboxCard.yesMessage section[id='right'] .tabPanel main #incomingMessage > div:first-child,
.inboxCard.yesMessage section[id='right'] .tabPanel main #outgoingMessage > div:first-child{
	font-size: .8em;
}

.inboxCard.yesMessage section[id='right'] .tabPanel main #incomingMessage > div:nth-child(2),
.inboxCard.yesMessage section[id='right'] .tabPanel main #outgoingMessage > div:nth-child(2){
	margin: .1em
}

.inboxCard.yesMessage section[id='right'] .tabPanel main #incomingMessage > div:last-child,
.inboxCard.yesMessage section[id='right'] .tabPanel main #outgoingMessage > div:last-child{
	font-size: .7em;
}

.inboxCard.yesMessage section[id='right'] .tabPanel form .MuiOutlinedInput-root fieldset{
	border: none
}


.inboxCard.yesMessage section[id='right'] .tabPanel form .MuiOutlinedInput-root{
	border: solid black 1px;
	color: black;
}

.inboxCard.yesMessage section[id='right'] .tabPanel form .MuiOutlinedInput-root .MuiIconButton-root{
	color: black;
}

#scrollableTarget{
	overflow: auto;
	height: 12rem;
}

.messageImage{
	width: 100%;
}