#profile {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
}

#upperSection {
	max-width: 900px;
	width: 100%;
}
#upperSection .MuiCard-root {
	display: flex;
}

#upperSection .MuiCard-root .MuiCardMedia-root {
	flex: 1;
}
#upperSection .MuiCard-root .MuiCardContent-root {
	flex: 3;
}

#upperSection .MuiCard-root .MuiCardMedia-root .MuiIconButton-root {
	min-width: 150px;
	min-height: 150px;
}

#upperSection
	.MuiCard-root
	.MuiCardMedia-root
	.MuiIconButton-root
	#profilePhoto {
	width: 100%;
	height: auto;
	object-fit: contain;
}

#lowerSection {
	max-width: 900px;
	width: 100%;
}

#lowerSection {
	max-width: 900px;
	width: 100%;
}

#lowerSection #tabPanel {
	display: grid;
}
