#profile {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}


#upperSection .MuiCard-root {
	display: flex;
}

#upperSection .MuiCard-root .MuiCardMedia-root {
	flex: 1;
	padding: .3em;
	align-self: center;
}

#upperSection .MuiCard-root .MuiCardMedia-root label {
	padding: 0;
	width: 150px;
	height: 150px;
}
#profilePhoto {
	width: 100%;
	height: 100%;
}



#upperSection .MuiCard-root .MuiCardContent-root {
	flex: 3
}
#upperSection
	.MuiCard-root
	.MuiCardContent-root
	div
	div:nth-child(1)
	span{
	margin-right: 1rem;
}

#upperSection
	.MuiCard-root
	.MuiCardContent-root
	div
	div:nth-child(2)
	.MuiButton-root {
	
	text-transform: none;

}

#upperSection
	.MuiCard-root
	.MuiCardContent-root
	div
	div:nth-child(2)
	.MuiButton-root:nth-child(3) {
		padding: 0
}



#upperSection .MuiCard-root .MuiCardContent-root div div:nth-child(2) span {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
}

#lowerSection {
	max-width: 900px;
	width: 100%;
	height: 100%;
}

#lowerSection .MuiTab-root{
	color: whitesmoke
}

#lowerSection .tabPanel {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 2em 2em;
}
#lowerSection .tabPanel img {
	width: 100%;
	object-fit: contain;
}

#lowerSection .tabPanel[hidden] {
	display: none;
}

.ffModal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ffModal .MuiCard-root {
	width: 20vw;
	height: 20vw;
	min-width: 300px;
	min-height: 300px;
	max-height: 500px;
	max-width: 500px;
}
.ffModal .MuiCard-root .MuiCardHeader-root {
	text-align: center;
	border-bottom: black 1px solid;
}
