#forgotPassword{
    display: flex;
   align-items: center;
height: 100%;
margin: 0 auto;
}

#forgotPassword .MuiCardHeader-root{
   text-align: center;
}
#forgotPassword .MuiCardContent-root{
    padding-bottom: 0
}
#forgotPassword .MuiCardContent-root {
    display: flex;
   flex-direction: column;
}

#forgotPassword .MuiCardContent-root .MuiTextField-root:nth-child(2){
    margin: .3rem 0;
}

#forgotPassword .MuiCardActions-root{
    display: flex;
   flex-direction: column;
}