#forgotPassword{
    display: flex;
   align-items: center;
height: 100%;
width: 30vw;
margin: 0 auto;
}

#forgotPassword .MuiCardHeader-root{
   text-align: center;
}

#forgotPassword .MuiCardContent-root {
    padding-bottom: 0;
    display: flex;
   flex-direction: column;
   
}
#forgotPassword .MuiCardContent-root p{
    text-align: center;
   
}

#forgotPassword .MuiCardContent-root .MuiTextField-root{
    margin: .3rem 0;
}

#forgotPassword .MuiCardActions-root{
    display: flex;
   flex-direction: column;
}